.texto-menor {
    font-size: 13px;
}

.div-facilidades {
    width: 325px
}

.cor-verde {
    color: #DAFF01;
}

.btn-roxo{
    background-color: #9353FF;
    color: white;
}

.posicao {
    top: 40%;
}

@media(max-width: 767px) {
    .posicao{
        top: 60%;
    }
}